/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #fff8f0;
  font-family: "Playfair Display", serif;
  margin: 0;
}
nav {
  background-color: #323b7a;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
nav a {
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
}
nav a:hover {
  border-bottom: 2px solid #e2e4e585;
}
